body {
  background-color: #388087;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#root {
  background-color: #f6f6f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
}

#x-axis path,
#y-axis path {
  fill: none;
  stroke: #333;
}

.dot:hover {
  opacity: 0.6;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;

  padding: 2px;
  font: 12px;
  background: #badfe7;
  color: #388087;
  opacity: 0.2;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none;
}
